[Desktop Entry]
Name=ManEdit
Comment=UNIX manual page integrated development environment
Comment[pl]=Zintegrowane środowisko uniksowe do tworzenia stron podręcznika
Exec=manedit
Icon=manedit
Terminal=false
Type=Application
Categories=GTK;TextEditor;
# vi: encoding=utf-8
