[Desktop Entry]
Name=ManEdit
Comment=UNIX manual page integrated development environment
Comment[pl]=Zintegrowane środowisko uniksowe do tworzenia stron podręcznika
Exec=manedit
Icon=manedit.png
Terminal=false
Type=Application
Encoding=UTF-8
# vi: encoding=utf-8
